	        {{ define "main" }}
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-tablet"></span>
					<h2>Составление и сдача деклараций 3-НДФЛ</h2>
					<p>Возврат 13% (подоходного налога)</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<div class="row oneandhalf">
							<div class="8u">
								
								<!-- Content -->
									<div class="content">
										<section>
											<a href="#" class="image feature"><img src="/img/3ndfl.png" alt="" /></a>
											<header>
												<h3>При покупке квартиры:</h3>
											</header>
											<p>
											<ul>
												<li>Свидетельство о регистрации права собственности; </li>
												<li>Договор купли-продажи;  </li>
												<li>Акт приема-передачи;  </li>
												<li>Платежный документ или Расписка в получении денег (если в договоре не сказано, что расчеты произведены;  </li>
												<li>Справка о доходах с места работы по форме 2 НДФЛ. </li>
												
											</ul>
											</p>
											<header>
												<h3>Дополнительно, если жилье приобреталось в кредит (ипотека):</h3>
											</header>
											<p>
											<ul>
												<li>Кредитный договор (ипотека);  </li>
												<li>Справка из банка об уплаченных процентах.  </li>
												
												
											</ul>
											</p>
											<header>
												<h3>При строительстве жилья:</h3>
											</header>
											<p>
											<ul>
												<li>Договор на строительство жилья (долевого строительства, инвестирования и др);   </li>
												<li>Платежный документ (квитанции, платежные поручения);</li>
												<li>Документы подтверждающие расходы (чеки, товарные чеки, договора, накладные и др.); </li>
												<li>Свидетельство о регистрации права собственности (при наличии, если жилье зарегистрировано); </li>
												<li>Акт приема-передачи (при наличии); </li>
												<li>Справка о доходах с места работы по форме 2 НДФЛ.</li>
												
												
												
											</ul>
											</p>
											<header>
												<h3>При продаже квартиры:</h3>
											</header>
											<p>
											<ul>
												<li>Договор купли-продажи; </li>
												<li>Платежный документ или Расписка в получении денег (при наличии); </li>
												<li>Документы на приобретение жилья ( (если в собственности менее 3 лет и цена продажи; более 1000000) рублей); </li>
												<li>Справка о доходах с места работы по форме 2 НДФЛ.</li>
												
												
												
											</ul>
											</p>
											<header>
												<h3>При оплате обучения:</h3>
											</header>
											<p>
											<ul>
												<li>Договор с учебным заведением (на имя родителей, если декларацию подают родители); </li>
												<li>Квитанции об оплате; чеки;</li>
												<li>Копия свидетельства о рождении ребенка (если обучение оплачивают родители) ; </li>
												<li>Лицензия (учебного заведения). ;</li>
												<li>Справка о доходах с места работы по форме 2 НДФЛ.</li>
												
												
												
											</ul>
											</p>
											<header>
												<h3>При оплате лечения:</h3>
											</header>
											<p>
											<ul>
												<li>Договор с лечебным учреждением (при наличии);  </li>
												<li>Квитанции об оплате; </li>
												<li>Справка об оплате услуг для предоставления в налоговые органы (утверждена 
приказом Минздрава России и МНС России от 25 июля 2001 г. №              289/БГ-3-04/256);
</li>
												
												<li>Справка о доходах с места работы по форме 2 НДФЛ.</li>
												
												
												
											</ul>
											</p>
											<header>
												<h3>При оплате стоимости медикаментов:</h3>
											</header>
											<p>
											<ul>
												<li>Рецепт от лечащего врача форма N 107/у; </li>
												<li>Квитанции об оплате; </li>
												<li>Справка о доходах с места работы по форме 2 НДФЛ.</li>
												
											</ul>
											</p>
											<header>
												<h3>При продаже автомобиля:</h3>
											</header>
											<p>
											<ul>
												<li>Документы на продажу машины (Справка-счет, договор, пр.); </li>
												<li>Документы на приобретение машины; </li>
												<li>Копия ПТС или документы на приобретение автомобиля; </li>
												<li>Справка о доходах с места работы по форме 2 НДФЛ.</li>
												
											</ul>
											</p>
											<header>
												<h3>При продаже ценных бумаг:</h3>
											</header>
											<p>
											<ul>
												<li>Документы на продажу ценных бумаг (договора, платежные документы); </li>
												<li>Документы на приобретение ценных бумаг (договора, платежные документы); </li>
												<li>Справка о доходах с места работы по форме 2 НДФЛ;</li>
												<li>Справка о доходах от налогового агента (брокера, доверительного управляющего по форме 2 НДФЛ ; </li>
												<li>Документы по дополнительным расходам (комиссионные отчисления, биржевые сборы, депозитарии, регистраторы и др); </li>
												
												
											</ul>
											</p>
										</section>
									</div>
	
							</div>
							<div class="4u">
								
								<!-- Sidebar -->
									<div class="sidebar">
										<section>
											<header>
												<h3>Заберите свои 13% у государства</h3>
											</header>
											<p>Получите имущественный или социальный вычет при покупке недвижимости, обучения или лечения. А также в сроки отчитаться за полученный доход, облагаемый налогом на доходы физических лиц. Приезжайте к нам в офис с необходимым перечнем документов или отправьте данные нам на электронную почту info@buhuchet26.ru</p>
											<footer>
												<ul class="buttons">
													<li><a href="contakt.html" class="button small">Задать вопрос</a></li>
												</ul>
											</footer>
										</section>

										<section>
											<a href="#" class="image feature"><img src="/img/3ndfl2.jpg" alt="" /></a>
										</section>
									</div>

							</div>
						</div>					
					</section>

				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">
							
								<section>
									<header>
										<h3>Что необходимо?</h3>
									</header>
									<p>Для подготовки всех видов деклараций необходимы паспорт и свидетельство ИНН</p>
									<footer>
										
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Сколько стоит?</h3>
									</header>
									<p>Данная услуга стоит 500 руб. за 1 декларацию</p>
									<footer>
										
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Как долго?</h3>
									</header>
									<p>В течении 2-х рабочих дней сформируем Вам декларацию 3 НДФЛ</p>
									<footer>
										
									</footer>
								</section>
							
							</div>
						</div>
					</section>
			</article>
			{{ end }}
