        {{ define "main" }}
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-envelope"></span>
					<h2>Контактная форма</h2>
					<p>г. Кисловодск, проспект Победы,  37-А,тел.:+7 918 764 36 25 </p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
						<!--mm-->
							
        <!--<div class="text1 tx__1">Обратная связь</div>-->
          <form id="form" >
            <!--<div class="form_spinner">
              <img src="images/Preloader_4.gif" alt="">
            </div>-->
            <div class="modal fade response-message">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">M</h4>
                  </div>
                  <div class="modal-body">
                    <!--asfasfasf-->
                  </div>
                </div>
              </div>
            </div>
            <div class="response-error-message"></div>
                <label class="name">
                  <input type="text" name="name" placeholder="Имя:" value="" />
                  <span class="empty-message">*Заполните поле ИМЯ.</span>
                </label>
                <label class="email">
                  <input type="text" name="email" placeholder="E-mail:" value="" data-constraints="@Required @Email" />
                  <span class="empty-message">*Заполните поле email.</span>
                  <span class="error-message">*неверный формат поля</span>
                </label>
                <label class="phone">
                  <input type="text" name="phone" placeholder="Телефон:" value="" data-constraints="@Required @JustNumbers"/>
                  <span class="empty-message">*Заполните поле ТЕЛЕФОН.</span>
                  <span class="error-message">*Телефон должен состоять из цифр без пробелов.</span>
                </label>
                <label class="message">
                  <textarea name="message" placeholder="Сообщение:" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                  <span class="empty-message">*Заполните поле СООБЩЕНИЕ.</span>
                  <span class="error-message">*Минимальная длина для сообщения 20 символов.</span>
				 
				</label>
                
               <div class="btns">
                  <a href="#" data-type="reset" class="btn">очистить</a>
                  <button href="#" data-type="submit" class="btn" onsubmit="yaCounter35314165.reachGoal('vopros')">отправить</button>
                </div>
          </form>
    
	<!--/mm-->						
					</section>
				
			</article>

		<!--mm-->
		<script src="/js/postmail.js">
		</script>
		<!--/mm-->
		<script>
 $(document).ready(function(){
  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
});
</script>
{{ end }} 
