 <head>
  <title>{{.Title}}</title>

      <link href='http://fonts.googleapis.com/css?family=Russo+One|Open+Sans+Condensed:700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content={{ delimit .Keywords " " }} />
  <meta name="description" content="{{.Description}}"/>
  <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->


   <link rel="stylesheet" href="/css/skel.css" />
   <link rel="stylesheet" href="/css/style.css" />
   <link rel="stylesheet" href="/css/style-noscript.css" />

  <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
 </head>
